<!--The content below is only a placeholder and can be replaced.-->

<md-toolbar color="primary">    
  <!--
    <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon>Test</button>    
  -->
    <span class="example-spacer"></span>
    <span >{{title}}</span>
</md-toolbar>

<button (click)='modalService.open(modalId)'>Open Modal</button>
<app-modal [modalTitle]="'Some title'" [blocking]='false' [modalId]='modalId'>
  <div>Text inside the modal</div>
</app-modal>

<router-outlet></router-outlet>



